@use 'var' as *;
@use 'mix' as *;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

html {

    @include selection;
}

body {
    background-color: #fafafb;
    font-family: 'Source Sans Pro', sans-serif;
}

.container.text-center {
    // height: 100vh;
    @include flexCenter;
    margin-top: 2rem;
}

h1 {
    font-size: 2.375rem;
    font-weight: 200;
    opacity: .8;
}

h2 {
    font-size: 2.375rem;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    opacity: .8;
    max-width: 470px;
}

li {
    margin: 0 auto;
    max-width: 350px;
    text-align: left;
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.216);
    border-radius: 5px;
}

.list {
    li:nth-child(1) {
        border-top: 5px solid rgb(0, 255, 238);
    }

    li:nth-child(2) {
        border-top: 5px solid red;
    }

    li:nth-child(3) {
        border-top: 5px solid orange;
    }

    li:nth-child(4) {
        border-top: 5px solid rgb(0, 110, 255);
    }
}

@media(min-width:768px) {

    .container.text-center {
        margin-top: 0;
        height: 100vh;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >* {
            width: 47%;
        }
    }
}

@media(min-width:1200px) {


    .list {
        display: block;

        li:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(50%);
        }

        li:nth-child(4) {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(50%);
        }
    }
}

@media(min-width:1400px) {

    .list {
        li:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(25%, 50%);
        }

        li:nth-child(4) {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-25%, 50%);

        }
    }
}